/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/


* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    }
/* header styling; */
header{
    padding: 30px 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 235px;
    height: auto;
    margin-left: 50px;
}
nav {
  
    width: 500px;
    
  }
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}

nav li{
    font-size: 22px;
}

/* section 1 image */

#section1 {
    padding-top:50px;
    background-image:url("../images/landing.jpg");
    position: 0 0;
    resize: no-repeat;
    size: cover;
    height: 800px;
    
    
    display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  
    
}

#section1 h1{
    text-align: center;
    color:white;
    
}

#section1 h3{
    text-align: center;
    color:white;
    margin-top: 25px;
    width: 550px;
}

/* section 2 */

#section2 {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:600px;
    
    
  }
#section2 h2{
    border-bottom: 5px solid #00B172;
    padding:10px 0px;
    font-size: 35px;
    
}


.container {
    margin-top:45px;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.container div{
    text-align: center;
    padding:0px 95px;
    width: 33%;
    
}

.container h3{
    color:  #00B172;
    font-weight: bold;
    font-size: 28px;
    margin-top:10px;
}
.container p{
    margin-top:17px;
    font-size: 22px;
}
.container img{
    width: 100px;
    height: 100px;
}

/*section3*/

.section3 {
    background-color: #00B172;
    
    
    height:875px;
    width:96%;
    margin-left:2%;
    color:#FFF;
}

#section3 div{
    text-align: center;
    padding:0px 95px;
    width: 50%;
    
}
.rightcontainer{
    float:right;
    width:50%;
}
.rightcontainer img {
    height: 700px;
    width: auto;
    margin-top: 100px;
    margin-left: 50px;
}

#leftcontainer{
    float:left;
    width:50%;
  
}

.section3 h3{
    font-size:25px;
}
